<a href="https://colab.research.google.com/github/tiago-nogueira/sistema-de-recomendacao/blob/main/item_based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from numpy.linalg import norm
import pandas as pd

In [3]:
avaliacoes = pd.read_csv('/content/drive/MyDrive/ratings.csv')
avaliacoes.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [4]:
num_usuarios = avaliacoes['user_id'].nunique()
num_usuarios

53424

In [5]:
num_livros = avaliacoes['book_id'].nunique()
num_livros

10000

In [ ]:
matriz_avaliacoes = np.zeros((num_usuarios, num_livros))

In [ ]:
def marcar_avaliacoes(linha):
    matriz_avaliacoes[linha['user_id'] -1][linha['book_id'] -1] = linha['rating']
avaliacoes.apply(marcar_avaliacoes, axis=1)
matriz_avaliacoes

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [4., 5., 0., ..., 0., 0., 0.],
       [4., 5., 0., ..., 0., 0., 0.],
       [4., 5., 4., ..., 0., 0., 0.]])

In [ ]:
normas = np.empty(num_livros)
for i in range(num_livros):
    normas = norm(matriz_avaliacoes[:, i], 2)

In [ ]:
similaridades = np.matmul(np.matrix.transpose(matriz_avaliacoes), matriz_avaliacoes)
similaridades = (similaridades/normas).T / normas

In [ ]:
similaridades

array([[2.34711819e+02, 1.37666487e+02, 9.09179709e+01, ...,
        2.79546681e-01, 5.38046411e-01, 2.13707501e-01],
       [1.37666487e+02, 2.32087965e+02, 8.43934161e+01, ...,
        3.59956827e-01, 4.00431732e-01, 2.46087426e-01],
       [9.09179709e+01, 8.43934161e+01, 1.11845656e+02, ...,
        4.69508904e-02, 1.82406908e-01, 2.75229358e-02],
       ...,
       [2.79546681e-01, 3.59956827e-01, 4.69508904e-02, ...,
        1.05720453e+00, 0.00000000e+00, 0.00000000e+00],
       [5.38046411e-01, 4.00431732e-01, 1.82406908e-01, ...,
        0.00000000e+00, 1.02212628e+00, 0.00000000e+00],
       [2.13707501e-01, 2.46087426e-01, 2.75229358e-02, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00]])

In [ ]:
np.savetxt(
    "/content/drive/MyDrive/Sistema de recomendação/similaridades.csv",
    similaridades,
    delimiter=",")